@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(210, 30%, 97%);
  --foreground: hsl(210, 65%, 15%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(210, 65%, 15%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(210, 65%, 15%);
  --primary: hsl(210, 65%, 15%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(348, 83%, 47%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(210, 30%, 92%);
  --muted-foreground: hsl(210, 20%, 45%);
  --accent: hsl(207, 90%, 54%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(210, 20%, 88%);
  --input: hsl(210, 20%, 88%);
  --ring: hsl(210, 65%, 15%);
  --chart-1: hsl(207, 90%, 54%);
  --chart-2: hsl(348, 83%, 47%);
  --chart-3: hsl(159.7826, 100%, 36.0784%);
  --chart-4: hsl(42.0290, 92.8251%, 56.2745%);
  --chart-5: hsl(210, 65%, 15%);
  --sidebar: hsl(210, 65%, 15%);
  --sidebar-foreground: hsl(0, 0%, 100%);
  --sidebar-primary: hsl(207, 90%, 54%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(210, 65%, 20%);
  --sidebar-accent-foreground: hsl(0, 0%, 100%);
  --sidebar-border: hsl(210, 65%, 20%);
  --sidebar-ring: hsl(207, 90%, 54%);
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.75rem;
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(200, 6.6667%, 91.1765%);
  --card: hsl(228, 9.8039%, 10%);
  --card-foreground: hsl(0, 0%, 85.0980%);
  --popover: hsl(0, 0%, 0%);
  --popover-foreground: hsl(200, 6.6667%, 91.1765%);
  --primary: hsl(214, 84%, 56%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(195.0000, 15.3846%, 94.9020%);
  --secondary-foreground: hsl(210, 25%, 7.8431%);
  --muted: hsl(0, 0%, 9.4118%);
  --muted-foreground: hsl(210, 3.3898%, 46.2745%);
  --accent: hsl(205.7143, 70%, 7.8431%);
  --accent-foreground: hsl(214, 84%, 56%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(210, 5.2632%, 14.9020%);
  --input: hsl(207.6923, 27.6596%, 18.4314%);
  --ring: hsl(214, 84%, 56%);
  --chart-1: hsl(214, 84%, 56%);
  --chart-2: hsl(159.7826, 100%, 36.0784%);
  --chart-3: hsl(42.0290, 92.8251%, 56.2745%);
  --chart-4: hsl(147.1429, 78.5047%, 41.9608%);
  --chart-5: hsl(341.4894, 75.2000%, 50.9804%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
